@model AvaliacaoPratica.Application.DTOs.VeiculoDTO

@{
    List<SelectListItem> statusList = new List<SelectListItem>();
    if(ViewBag.StatusList != null)
    {
        foreach (var item in ViewBag.StatusList)
        {
            if(item.Id != 1)
            {
                statusList.Add(new SelectListItem
                {
                    Text = item.Nome,
                    Value = item.Id.ToString()
                });                
            }
        }        
    }
}

@{
    ViewData["Title"] = "Novo Veiculo";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="Id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Id" class="form-control" readonly/>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Renavam" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Renavam" class="form-control" readonly/>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="Modelo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Modelo" class="form-control" readonly/>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="AnoFabricacao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AnoFabricacao" class="form-control" readonly/>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="AnoModelo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AnoModelo" class="form-control" readonly/>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Quilometragem" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quilometragem" class="form-control" readonly/>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Valor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Valor" class="form-control" readonly/>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MarcaId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Marca.Nome" class="form-control" readonly/>
                <input asp-for="MarcaId" class="form-control" hidden/>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ProprietarioId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Proprietario.Nome" class="form-control" readonly/>
                <input asp-for="ProprietarioId" class="form-control" hidden/>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="StatusId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StatusId, statusList)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </div>
    </div>
</form>